<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Welcome to the internet!</title>

		<link
			href="https://fonts.googleapis.com/icon?family=Material+Icons"
			rel="stylesheet"
		/>

		<link rel="stylesheet" href="./styles/index.css" />
	</head>
	<body>
		<div id="aside-open">
			<span class="material-icons"> menu </span>
		</div>
		<div class="row" id="header">
			<div id="clockParent">
				<div class="row" id="clock">
					<h1 id="hour" class="title">44</h1>
					<h1 id="min" class="title">32</h1>
				</div>
				<span>Olá, mundo!</span>
			</div>

			<div id="tempParent">
				<h1 id="temperature" class="title">carregando</h1>
				<span id="regionNameEl">undefined</span>
			</div>
		</div>

		<div id="apps-column">
			<div class="apps-area">
				<span>Seus jogos</span>
				<div class="apps-row row">
					<div class="app-icon"></div>
					<div class="app-icon"></div>
					<div class="app-icon"></div>
					<div class="app-icon"></div>
				</div>
			</div>
			<div class="apps-area">
				<span>Suas ferramentas</span>
				<div class="apps-row row">
					<div class="app-icon"></div>
					<div class="app-icon"></div>
					<div class="app-icon"></div>
					<div class="app-icon"></div>
				</div>
			</div>
			<div class="apps-area">
				<span>Suas mídias</span>
				<div class="apps-row row">
					<div class="app-icon"></div>
					<div class="app-icon"></div>
					<div class="app-icon"></div>
					<div class="app-icon"></div>
				</div>
			</div>
		</div>
		<aside id="aside" class="off">
			<div class="row">
				<span>Configurações</span>
				<span id="aside-close" class="material-icons"> close </span>
			</div>
			<div>
				<span> Sua Cidade: </span>
				<section class="inputArea">
					<input type="text" id="cityInput" />
					<button class="material-icons" id="citySubmit">done</button>
				</section>
			</div>
			<div id="user_data">
				<button id="clearData">Apagar minhas preferências</button>
			</div>

			<button id="changeBg">Mudar tela de fundo</button>

			<div class="componentToggles">
				<div class="row">
					<input type="checkbox" id="showClock" />
				</div>
				<div class="row">
					<input type="checkbox" id="showTemp" />
				</div>
				<div class="row">
					<input type="checkbox" id="showApps" />
				</div>
			</div>
		</aside>

		<footer>
			<span>
				made with ❤ by
				<a href="https://github.com/salomaozao">salomaozao</a>
			</span>
		</footer>
		<script src="../controller/weather.js"></script>
		<script src="../controller/aside.js"></script>
		<script src="../controller/userControll.js"></script>
		<script src="../controller/clock.js"></script>
		<script src="../controller/index.js"></script>
	</body>
</html>
